{% extends 'base.html' %}
{% block head %}<title>unions</title>{% endblock %}
{% block content %}
  <h1>Your Unions</h1>
  <div class="action-block"><a href="{% url 'unionapp:new' %}" class="paper-btn">Create Union</a></div>
  <form action="{% url 'unionapp:list' %}" method="GET">
    <input type="text" name="q" class="q-input" placeholder="FIND UNION" />
    <button type="submit" class="q-input">search</button>
  </form>
  <br/>
  <div class="row">
    {% for object in object_list %}
      <div class="card" style="width: 20rem; margin: 15px;">
        <div class="card-body">
          <h4 class="card-title">{{ object.name }}</h4>
          <p class="card-text"></p>
          <a href="{% url 'unionapp:detial'  pk=object.id %}"><button>Let me go here!</button></a>
        </div>
        {% if object.photo %}
          <img class="image-bottom" src="{{ object.photo.url }}">
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
