<!DOCTYPE html>
<html>
  <head>
    {% block head %}{% endblock %}
    {% load staticfiles %}
    <link href="{% static 'css/paper.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/common.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'javascript/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'javascript/common.js' %}"></script>
  </head>
  <body>
    <div class="margin">
      <div class="row flex-spaces child-borders">
        <div id='header-nav' class="sm-12 col" style="text-align: right;">
          {% if request.user.is_authenticated %}
            Hi, {{request.user.username}}
            <a href="/logout" class="paper-btn btn-small" id="logout">Logout</a>
          {% else %}
            <a href="/login" class="paper-btn btn-small" id="login">Login</a>
          {% endif %}
        </div>
      </div>
      <div class="row child-borders">
        <a href="/" class="sm-2 col border border-primary">Home</a>
        <a href="/products" class="sm-2 col border border-secondary">ProductsApp</a>
        <a href="{% url 'unionapp:list' %}" class="sm-2 col border border-success">UnionsApp</a>
        <a href="{% url 'scrapers:ecapp24' %}" class="sm-2 col border border-warning">Ecapp24&Me</a>
        <a href="{% url 'scrapers:lottery' %}" class="sm-2 col border border-danger">Lottery</a>
        <a href="{% url 'lists:home' %}" class="sm-2 col border border-primary">List</a>
      </div>

      {% if messages %}
        <div class="row flex-spaces">
          {% for msg in messages %}       
            <div class="alert alert-{{msg.level_tag}}">{{msg.message}}</div>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </body>

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1712702859030821',
        xfbml      : true,
        version    : 'v2.11'
      });
      FB.AppEvents.logPageView();
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</html>