{% extends 'base.html' %}
{% block head %}
  <title>I come from template!!</title>
  {% load staticfiles %}
  <link href="{% static 'css/hello_world.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
  <h1>Hello World! Django!</h1>
  <h4>{{ current_time }}</h4>
  <div class="row child-borders">
    <a href="/products" class="sm-2 col border border-primary">ProductsApp</a>
    <a href="{% url 'unionapp:list' %}" class="sm-2 col border border-secondary">UnionsApp</a>
  </div>
{% endblock %}
