{% extends 'base.html' %}
{% block head %}
  <title>HelloWorld</title>
  {% load staticfiles %}
  <link href="{% static 'css/hello_world.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
  <h1>Hello World! Django!</h1>
  <h4>{{ current_time }}</h4>

  <!-- {% for age_bracket in age_brackets %}
    <p>{{age_bracket.title}}:  {{age_bracket.count}}</p>
  {% endfor %} -->
  <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>

  
{% endblock %}
