{% extends 'base.html' %}
{% block head %}<title>Products</title>{% endblock %}
{% block content %}
  <h1>Products</h1>
  <div class="message">{{message}}</div>
  <a href="{% url 'product_create' %}">NEW Product!</a>
  {% for product in products %}
    <div class="product">
      <span class="field id">{{ product.id }}</span>
      <span class="field name"><a href="{% url 'product_detail' id=product.id %}">{{ product.name }}</a></span>
      <span class="field sku">{{ product.sku }}</span>
      <span class="field"><a href="{% url 'product_edit' id=product.id %}">Edit</a></span>
      <span class="field"><a data-confirm="Are you sure?" data-method="delete" href="{% url 'product_delete' id=product.id %}">Delete</a></span>
    </div>
  {% endfor %}
{% endblock %}
