{% extends 'base.html' %}
{% block head %}<title>Products</title>{% endblock %}
{% block content %}
  <h1>Products</h1>
  <div class="text-warning">{{message}}</div>
  <div class="margin"><a href="{% url 'product_create' %}" class="paper-btn">NEW Product!</a></div>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>sku</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td><a href="{% url 'product_detail' id=product.id %}">{{ product.name }}</a></td>
          <td>{{ product.sku }}</td>
          <td><a href="{% url 'product_edit' id=product.id %}" class="paper-btn btn-small">Edit</a></td>
          <td><a data-confirm="Are you sure?" data-method="delete" href="{% url 'product_delete' id=product.id %}" class="paper-btn btn-small">Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
